body{
    background: rgb(136,83,143);
    background: linear-gradient(90deg, rgba(136,83,143,1) 0%, rgba(183,101,194,1) 50%, rgba(136,83,143,1) 100%);
    margin: 0;
    
}
.calculator{
    width: 70%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    background-color: whitesmoke;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.calculator p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 4%;
    font-size: 30px;
}

.form-bmi{ 
   text-align: center;
}

.input-number{
    height: 9%;
    width: 30%;
    border: 1px solid lightgrey;
}

.form-bmi button{
    margin-top: 4%;
    border: 1px solid lightgrey;
    height: 25px;
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
}

.result{
    position: relative;
    width: 70%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: whitesmoke;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.result p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}